* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
}

html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset,
p,
aside,
header,
footer,
section,
article {
    border: medium none;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

:focus {
    outline: none !important;
}
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}
    
::-webkit-scrollbar-track {
border-radius: 10px;
background-color: #d3d3d3;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
background-color: #01337C;
-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}
img,
fieldset {
    border: 0 none;
}

a {
    border: none;
    outline: none;
}

input[type="submit"],
select {
    -webkit-appearance: none;
}

img {
    border: none;
    height: auto;
    max-width: 100%;
    outline: none;
    vertical-align: middle;
}

iframe {
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
    color: red;
}

.clear {
    clear: both;
}

ul::after {
    clear: both;
    content: "";
    display: block;
}

ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 27px;
    -webkit-font-smoothing: antialiased;
    background: #D8DFEA;
}

header {
    background: linear-gradient(231.98deg, #01337C 28.19%, #013A8C 28.2%, #013A8C 96.59%, #00C17B 119.39%);
    padding: 18px 15px;
}

.heading-main {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    color: #fff;
}

.header-right-box .form-control {
    border: 1px solid #6791D0;
    background: #ffffff1c;
    color: #fff !important;
    padding: 8px;
    padding-left: 42px;
}

.header-right-box .form-control::placeholder {
    color: #A5B0C4;
}

.search-icon {
    position: absolute;
    top: 8px;
    left: 8px;
}

.cutomer-text {
    font-size: 12px;
    font-weight: 500;
    line-height: 14.52px;
    text-align: right;
    background: #fff;
    padding: 5px 12px;
    border-radius: 2px;
    position: absolute;
    top: 9px;
    right: 40px;
}
.customer-scroll {
    overflow-y: auto;
    top: 74px !important;
    position: relative;
    max-height: 672px;
    height: 100%;
    margin-bottom: 52px;
}
.border-radius {
    margin: 0 0 12px 0;
    border-radius: 10px;
}
.filter-icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.header-right-box form {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-right-box form a {
    margin-left: 21px;
}

.customer-list-header {
    padding: 16px;
    border-radius: 8px 8px 0px 0px;
    background: #fff;
}

.customer-container-body {
    background: #EDF1F7;
    padding: 16px;
    border-radius: 0px 0px 8px 8px;
    width: 100%;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.customer-list-header .heading-main {
    color: #01337C;
}

.customer-outer-section {
    padding: 22px;
}

.sort-box h5 {
    background: #C0D9FF;
    padding: 8px;
    color: #01337C;
    border-radius: 4px;
    font-size: 15px;
    line-height: unset;
    margin-right: 11px;
}

.sort-box h5 img {
    width: 24px;
}

.sort-box p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
}

.customer-container-body .table thead {
    background: linear-gradient(231.98deg, #01337C 28.19%, #013A8C 28.2%, #013A8C 96.59%, #00C17B 119.39%);
    padding: 12px !important;
    position: absolute;
    width: 98%;
    border-radius: 12px;
    top: 10px;
}
.customer-container-body .table thead tr, 
.customer-container-body .table tbody tr {
    width: 98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.customer-container-body .table th {
    background-color: unset !important;
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    padding: 12px;
    min-width: 261px;
}

.customer-container-body .table td {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    text-align: left;
    padding: 12px;
    vertical-align: middle;
    min-width: 261px;
    white-space: nowrap;
}

.customer-name {
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #C0D9FF;
    margin-right: 8px;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
}

.role,
.property {
    background: #EDF1F7;
    padding: 9px;
    display: inline-block;
    border-bottom: 3px;
    color: #31353B;
    border-radius: 4px;
    text-transform: uppercase;
}

.property {
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: left;
    color: rgba(92, 98, 110, 0.7);
    white-space: nowrap;
}
.number {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.94px;
    text-align: right;
    color: #31353B;
}
.cursor-pointer{
    cursor: pointer;
}
 input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #fff !important;
}
.customer-container-body .table td:first-child{
    border-radius: 6px 0 0 6px  !important;
}
.customer-container-body .table td:last-child{
    border-radius: 0 6px 6px 0  !important;
}
.customer-mobile-text {
    display: none;
}
.mobile-side-customer {
    display: none;
}
.space-maker {
    margin: 0 14px;
}
/* media-query */
@media (max-width: 1700px) {
    .customer-container-body .table td {
        min-width: 235px;
    }
    .action-div {
        min-width: 138px !important;
    }
    .customer-container-body .table th {
        min-width: 234px;
    }
    .property-section {
        min-width: 285px !important;
    }
}
@media (max-width: 1600px) {
    .customer-container-body .table th, .customer-container-body .table td {
        min-width: 215px;
    }
    .email-section {
        min-width: 252px !important;
    }
}
@media (max-width: 1500px) {
    .customer-container-body .table th, .customer-container-body .table td {
        min-width: 183px;
    }
}
@media (max-width: 1400px) {
    .customer-container-body .table th, .customer-container-body .table td {
        min-width: 169px;
    }
}
@media (max-width: 1199px) {
    .position-relative.w-50 {
        width: 100% !important;
    }
}
@media (max-width: 600px) {
    .header-right-box .form-control {
        display: none;
    }
    .customer-outer-section {
        margin-top: 122px;
    }
    .customer-list-header-mobile {
        position: fixed;
        width: 100%;
        left: 0;
        padding: 21px;
        top: 53px;
    }
    header {
        border-radius: 0 0 12px 12px;
        position: fixed;
        width: 100%;
        z-index: 9;
        top: 0;
    }
    .mobile-side-customer {
        display: block;
    }
    .search-icon {
        position: relative;
        top: 0;
        left: 0;
    }
    .cutomer-text, .filter-icon{
        display: none;
    }
    .mobile-header .position-relative.w-50 {
        width: fit-content !important;
    }
    .customer-container-body {
        display: none;
    }
    .mobile-side-customer {
        background: #fff;
        padding: 12px;
        border-radius: 6px;
        margin: 12px 0;
    }
    .mobile-side-customer .role {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;
        margin-bottom: 10px;
    }
    .blue-btn {
        background: #01337c !important;
        border: none !important;
    }
    .mobile-tab{
        display: none;
    }
    .sort-box img {
        margin: 0 !important;
    }
    .customer-mobile-text {
        display: inline;
    }
    .customer-list-header {
        padding: 12px 16px;
        border-radius: 8px;
    }
}